---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .sort((a,b) => +new Date(b.data.pubDate) - +new Date(a.data.pubDate));

const toSlug = (p) => p.slug ?? p.id.replace(/\.(md|mdx)$/, '');
---
<html lang="en">
  <head></head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {posts.map((post) => (
            <li>
              <a href={`/blog/${toSlug(post)}/`}>
                {post.data.heroImage && (
                  <img
                    width="720" height="360"
                    src={typeof post.data.heroImage === 'string'
                          ? post.data.heroImage
                          : post.data.heroImage.src}
                    alt={post.data.title}
                  />
                )}
                <h4 class="title">{post.data.title}</h4>
                <p class="date"><FormattedDate date={post.data.pubDate} /></p>
              </a>
            </li>
          ))}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
