---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { title = 'Smart Call Decline', description = '' } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main { width: calc(100% - 2em); max-width: 100%; margin: 0; }
      .container { width: 720px; max-width: calc(100% - 2em); margin: 0 auto; padding: 1em; }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
